@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root{
    --background-headsidebar:#2b3643;
    --text-color:#b4bcc8;
}
body{
    font-family: 'Quicksand', sans-serif;
}
/* Header */
.page-header{
    background-color: #2b3643;
    height: 60px;
}
.header-logo {
    width: 300px;
}
.page-header .header-logo .logo .img-logo{
    width: 50px;
    height: 40px;
}
.page-header .header-logo .menu-toggle .icon-toggle{
    color: white;
    font-size: 25px;
}

.header-user{
    float: right;
}
.img-user-small{
    border-radius: 50%;
    margin: 0 8px 0 0;
}
.header-user{
    width: 300px;
    position: relative;
}
.header-user:hover .info-user{
    cursor: pointer;
    display: block;
}
.name-user{
    color: var(--text-color);
    margin-right: 3px;
}
.bi-chevron-down{
    color: var(--text-color);
}
.info-user{
    position: absolute;
    width: 260px;
    top:100%;
    left:0;
    height: 230px;
    display: none;

}
.info-user .change-pic{
    width: 100%;
    height: 120px;
    background-color:  #3f4f62;
}
.img-user{
    width: 100px;
    height: 90px;
    margin: 20px auto;
    border-radius: 50%;
}
.info-user .nav-fill .nav-item:hover .nav-link{
    color: var(--text-color);
}
/* sidebar */
.sidebar{
    width: 300px;
    background-color:var(--background-headsidebar);
}
.sidebar .navbar-nav .nav-item .nav-link{
    color: var(--text-color);
    font-size: 18px;
}
.sidebar .navbar-nav .nav-item:hover .nav-link{
    transform:translateX(3px);
}
.sidebar .navbar-nav .nav-item{
    border-top: 1px solid #3d4957;
}
.sidebar .navbar-nav .nav-item:first-child{
    border-top: none;
}
.sidebar .navbar-nav .nav-item:hover {
    background-color:#829494;
}
.dropdown{
    height: 0;
    overflow: hidden;
    transition: .3s;
}
.open{
    height: 100%;
    overflow: visible;
}
.navbar-nav .nav-item .icon-nav{
    margin: 0 7px;
}
.hide{
    display: none;
}